.navbar {
  transition: all 0.3s ease;
  height: 80px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
 margin-top: 40px;
}

/* Logo */
.logo {
  margin-left: 15px;
  width:110px;
}
/* Right section */
.navbar-right {
  flex: 0 0 400px;
  align-items: inline-block;
  align-items: center;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  text-align: center;
  justify-content: space-around;
  }


/* Navbar link */
.navbar-link {
  color:#1bb45e;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;

}
navbar-link:hover {
  color: white;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

#btn {
  color: white;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #1bb45e;
  border-radius: 30px;
}

.container{
  width:900px;
  margin: 0px auto;
}






.h1{
    font-family: 'Raleway';
    font-weight: bold;
    line-height: 1.9em;
}

.extend{
  display:flex;
}

.triplette{
  background-color: white;
  width: 100px;
  display :inline-block;
  text-align: center;
  line-height: 20px;
  border:2px solid grey;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: green;
  padding-left: 49px;
  padding-right: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.triplette>a:hover{
  background-color: grey;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: green;
  padding-left: 49px
  padding-right: 49px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.h2{
  font-size: 26px;
  font-weight: bold;
}
.redac{
  color:grey;

}

.h3{
  font-size: 18px;
  font-weight: bold;}

.try-now-btn{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right:20px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: #1eb45d;
  text-align: center;
  color:white;
  text-decoration: none;

}
.try-now-btn a{
  text-decoration: none;}
}
