<div class="container">

      <div class="row">
          <div class="col-xs-offset-4 col-xs-12  result">
            <div class="row right" id="total"></div>
        </div>
      </div>

      <div class="row up">
          <div class="col-xs-3 col-md-3 uk-animation-slide-top numbers "><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511202023/8_u3ptuu.png" alt="7"></a></div>
          <div class="col-xs-3 col-md-3  uk-animation-slide-top numbers"><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511202023/9_aven0p.png" alt="8"></a></div>
          <div class="col-xs-3 col-md-3  uk-animation-slide-top numbers"><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511202023/10_phr4lb.png" alt="9"></a></div>
          <div class="col-xs-3 col-md-3 uk-animation-slide-top operators"><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511204061/divide_bmpe1x.png" alt="/"></a></div>
      </div>

      <div class="row">
          <div class="col-xs-3 col-md-3 uk-animation-slide-top numbers"><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511202023/5_lwpkbv.png" alt="4"></a></div>
          <div class="col-xs-3 col-md-3 uk-animation-slide-top numbers"><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511202023/6_pny7k7.png" alt="5"></a></div>
          <div class="col-xs-3 col-md-3 uk-animation-slide-top numbers"><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511202023/7_pobl2d.png" alt="6"></a></div>
          <div class="col-xs-3 col-md-3 uk-animation-slide-top operators"><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511204061/multi_dvpslw.png" alt="x"></a></div>
      </div>

      <div class="row">
            <div class="col-xs-3 col-md-3 uk-animation-slide-top numbers"><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511202023/2_pczjhw.png" alt="1"></a></div>
            <div class="col-xs-3 col-md-3 uk-animation-slide-top numbers"><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511202023/3_gweydf.png" alt="2"></a></div>
            <div class="col-xs-3 col-md-3 uk-animation-slide-top numbers"><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511202023/4_v9womu.png" alt="3"></a></div>
            <div class="col-xs-3 col-md-3 uk-animation-slide-top operators"><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511211118/minus_chvli3.png" alt="-"></a></div>
      </div>

      <div class="row">
            <div class="col-xs-3 col-md-3 uk-animation-slide-top numbers"><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511202022/1_wspvdh.png" alt="0"></a></div>
            <div class="col-xs-3 col-xs-offset-3 col-md-3  col-md-offset-3 uk-animation-slide-top" id="clear"><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511204061/cancel_b6oahz.png" alt="cancel"></a></div>
            <div class="col-xs-3 col-md-3 uk-animation-slide-top operators" ><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_100/v1511204061/tsafrzla4asadubeaeiy.png" alt="+"></a></div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 uk-animation-slide-top up" id="equals"><a><img src="http://res.cloudinary.com/caroheymes/image/upload/c_scale,w_300/v1511204061/equals_w8ax8z.png" alt="equals"></a></div>

      </div>


</div>

