    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(39, 88, 137, 0.50) 0%, rgba(39, 88, 137, 0.50) 5%), url('<%=image_path "header.jpg" %>');">
	<div class="container up inline transparent">
		<ul>
			<li><a href="#">I am an Applicant</a></li>
			<li><a href="#">API & Docs</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Careers</a></li>
		</ul>
	</div>